body {
	background-color: #e6f1ff;
}

#homeBanner {
	background-color: #66a3ff;
	height: 45px;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	font-size: large;
	color: white;
}

table, th, td {
  border: 1px solid black;
  border-color: rgb(160,160,255);
}

th {
	text-align: center;
}

input {
	max-width: 90%;
}

.graph {
	margin: 20px 30px 20px 30px;

}

#build {
	max-width: 20%;
	min-width: 250px;
}