body {
	background-color: #e6f1ff;
}

#homeBanner {
	background-color: #66a3ff;
	height: 45px;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	font-size: large;
	color: white;
}

#build {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: white;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
#build .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


table, th, td {
  border: 1px solid black;
  border-color: rgb(160,160,255);
}

th {
	text-align: center;
}

input {
	max-width: 90%;
}

.graph {
	margin: 20px 30px 20px 30px;

}
